<!DOCTYPE html>
<html>
<head>
  </head>
<body>
<div th:fragment="right-sidebar">
<div class="btn-group-vertical">
 <a th:href ="@{/items/list}" class="btn btn-secondary">Items</a>
  <a th:href ="@{/equipmentTypes/list}" class="btn btn-secondary">Equipment Types</a>
  <a th:href ="@{/equipmentTypes/equipment}" class="btn btn-secondary">Equipment</a>
  <button type="button" class="btn btn-secondary" >Products</button>
  <button type="button" class="btn btn-secondary">ProductMenuTypes</button>
  <button type="button" class="btn btn-secondary">ProductMenu</button>
  <a th:href ="@{/clients/list}" class="btn btn-secondary">Clients</a>
  <button type="button" class="btn btn-secondary">Routes</button>
  <button type="button" class="btn btn-secondary">Groups</button>
  
  
</div>


</div>
</body>
</html>