<!DOCTYPE html>

<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main-layout}">

<head>
 <link th:href="@{/css/main.css}" rel="stylesheet" media="screen" /></head>
</head>
<body>
<div class="col" layout:fragment="content">
	
	<h3> Add EquipmentType</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/equipmentTypes/add}"
						th:object="${equipmentType}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Name</label> <input
									type="text" th:field="*{name}" class="form-control" id="name"
									placeholder="Name"> <span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="maxWeight" class="col-form-label">Max Weight</label> <input
									type="text" th:field="*{maxWeight}" class="form-control" id="maxWeight"
									placeholder="MaxWeight"> <span
									th:if="${#fields.hasErrors('maxWeight')}" th:errors="*{maxWeight}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="maxVolume" class="col-form-label">Max Volume</label> <input
									type="text" th:field="*{maxVolume}" class="form-control"
									id="maxVolume" placeholder="MaxVolume"> <span
									th:if="${#fields.hasErrors('maxVolume')}" th:errors="*{maxVolume}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="description" class="col-form-label">Description</label> <input
									type="text" th:field="*{description}" class="form-control"
									id="description" placeholder="description"> <span
									th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
									class="text-danger"></span>
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add EquipmentType">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	
	
</body>
</html>