<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update Item</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
	<h3> Update Student</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/items/update/{id}(id=${item.id})}"
						th:object="${item}" method="post">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name" class="col-form-label">Name</label> <input
									type="text" th:field="*{name}" class="form-control" id="name"
									placeholder="Name"> <span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="weight" class="col-form-label">Weight</label> <input
									type="text" th:field="*{weight}" class="form-control" id="weight"
									placeholder="Weight"> <span
									th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="volume" class="col-form-label">Volume</label> <input
									type="text" th:field="*{volume}" class="form-control"
									id="volume" placeholder="volume"> <span
									th:if="${#fields.hasErrors('volume')}" th:errors="volume"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Update Item">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>